<div class="max-w-5xl mx-auto py-12 pt-24 px-4">
  <h2 class="text-3xl md:text-4xl font-bold text-green-800 mb-8 text-center">Pincha en los hoyos para ver más información!</h2>

  <div class="mapa-container">
    <!-- Imagen horizontal y sus puntos -->
    <div class="mapa-horizontal-group">
      <img
        src="/images/mapa-hoyo-bueno-horizontal.PNG"
        alt="HCP de Juego"
        class="mapa-imagen mapa-horizontal">
      <!-- Botones para la imagen horizontal -->
      <button class="hoyo-punto" style="top: 7%; left: 66%;" (click)="mostrarPopup(1)"></button>
      <button class="hoyo-punto" style="top: 13.5%; left: 96%;" (click)="mostrarPopup(2)"></button>
      <button class="hoyo-punto" style="top: 47%; left: 78%;" (click)="mostrarPopup(3)"></button>
      <button class="hoyo-punto" style="top: 67%; left: 54%;" (click)="mostrarPopup(4)"></button>
      <button class="hoyo-punto" style="top: 88%; left: 29%;" (click)="mostrarPopup(5)"></button>
      <button class="hoyo-punto" style="top: 84%; left: 1%;" (click)="mostrarPopup(6)"></button>
      <button class="hoyo-punto" style="top: 49%; left: 24%;" (click)="mostrarPopup(7)"></button>
      <button class="hoyo-punto" style="top: 46%; left: 53%;" (click)="mostrarPopup(8)"></button>
      <button class="hoyo-punto" style="top: 33%; left: 16.5%;" (click)="mostrarPopup(9)"></button>
    </div>

    <!-- Imagen vertical y sus puntos -->
    <div class="mapa-vertical-group">
      <img
        src="/images/mapa-hoyo-bueno-vertical.PNG"
        alt="HCP de Juego vertical"
        class="mapa-imagen mapa-vertical">
      <!-- Botones para la imagen vertical (usa aquí los porcentajes correctos para la vertical) -->
      <button class="hoyo-punto" style="top: 31%; left: 8%;" (click)="mostrarPopup(1)"></button>
      <button class="hoyo-punto" style="top: 1%; left: 14%;" (click)="mostrarPopup(2)"></button>
      <button class="hoyo-punto" style="top: 18.5%; left: 48.5%;" (click)="mostrarPopup(3)"></button>
      <button class="hoyo-punto" style="top: 42%; left: 68%;" (click)="mostrarPopup(4)"></button>
      <button class="hoyo-punto" style="top: 68%; left: 89%;" (click)="mostrarPopup(5)"></button>
      <button class="hoyo-punto" style="top: 96%; left: 84%;" (click)="mostrarPopup(6)"></button>
      <button class="hoyo-punto" style="top: 73%; left: 50%;" (click)="mostrarPopup(7)"></button>
      <button class="hoyo-punto" style="top: 43%; left: 46.5%;" (click)="mostrarPopup(8)"></button>
      <button class="hoyo-punto" style="top: 80%; left: 34%;" (click)="mostrarPopup(9)"></button>
    </div>
  </div>

  <!-- Popup Modal -->
  <div *ngIf="popupHoyo" class="popup-overlay" (click)="cerrarPopup()">
    <div class="popup-card" (click)="$event.stopPropagation()">
      <button class="popup-close" (click)="cerrarPopup()">&times;</button>
      <ng-container [ngSwitch]="popupHoyo">
        <div *ngSwitchCase="1" class="flex-1 flex items-center justify-center">
          <!-- Card Hoyo 1 -->
          <div class="bg-white rounded-xl p-6 md:p-12 flex flex-col lg:flex-row gap-4 md:gap-6 w-full h-full max-w-lg lg:max-w-4xl mx-auto">
            <div class="flex-1"><img src="/images/Hoyo_7_blanco.png" alt="Hoyo 7 Villarias" class="rounded-lg w-full h-full object-contain" /></div>
            <div class="flex flex-col items-center justify-between md:flex-1 md:justify-center">
              <div class="mb-10">
                <h3 class="text-2xl md:text-3xl font-semibold text-green-700 mb-2 text-center">Hoyo 1 </h3>
                <div class="flex flex-row justify-between">
                  <span class="text-gray-500 text-md md:text-lg mr-8">⛳ Par 4 </span>
                  <span class="text-gray-500 text-md md:text-lg">📏 324/261 m </span>
                </div>
              </div>
              <p class="text-base md:text-lg text-gray-700 text-center">
                Salida estrecha, la calle se abre un poco a la derecha. Estacas rojas a la izquierda y a la derecha nos queda el arroyo del hoyo 9.
                <br>
                <br>
                Dos bunkers a la izquierda de la calle.
                <br>
                <br>
                2º golpe complicado, agua frontal hasta el green. Apoyarse a la derecha del green.
                <br>
                <br>
                Green amplio protegido con 2 bunkers a la derecha. Salimos por la derecha del green y estamos en el tee 2-11.
              </p>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="2" class="flex-1 flex items-center justify-center">
          <!-- Card Hoyo 2 -->
          <div class="bg-white rounded-xl p-6 md:p-12 flex flex-col lg:flex-row gap-4 md:gap-6 w-full h-full max-w-lg lg:max-w-4xl mx-auto">
            <div class="flex-1"><img src="/images/Hoyo_8_blanco.png" alt="Hoyo 8 Villarias" class="rounded-lg w-full h-full object-contain" /></div>
            <div class="flex flex-col items-center justify-between md:flex-1 md:justify-center">
              <div class="mb-10">
                <h3 class="text-2xl md:text-3xl font-semibold text-green-700 mb-2 text-center">Hoyo 2 <span class="text-gray-500 text-md md:text-lg cursor-pointer" (click)="openVideo('https://youtu.be/yQxWlXBm0Ag')">👉🏻 🎥 👈🏻</span></h3>
                <div class="flex flex-row justify-between">
                  <span class="text-gray-500 text-md md:text-lg mr-8">⛳ Par 4 </span>
                  <span class="text-gray-500 text-md md:text-lg">📏 302/261 m </span>
                </div>
              </div>
              <p class="text-base md:text-lg text-gray-700 text-center">
                Hoyo fácil en el recorrido. Salida limpia, se ve la bandera al fondo. Hay un bunker en medio de la calle, los pegadores llegan fácil.
                <br>
                <br>
                2º golpe a green con la única dificultad del bunker que hay a la izquierda del green.
                <br>
                <br>
                Green alargado y con lomas a izquierda y a derecha que recogen la bola al green.
                <br>
                <br>
                Salimos hacia atrás a la derecha, hacia el tee 3-12.
              </p>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="3" class="flex-1 flex items-center justify-center">
          <!-- Card Hoyo 3 -->
          <div class="bg-white rounded-xl p-6 md:p-12 flex flex-col lg:flex-row gap-4 md:gap-6 w-full h-full max-w-lg lg:max-w-4xl mx-auto">
            <div class="flex-1"><img src="/images/Hoyo_9_blanco.png" alt="Hoyo 9 Villarias" class="rounded-lg w-full h-full object-contain" /></div>
            <div class="flex flex-col items-center justify-between md:flex-1 md:justify-center">
              <div class="mb-10">
                <h3 class="text-2xl md:text-3xl font-semibold text-green-700 mb-2 text-center">Hoyo 3 <span class="text-gray-500 text-md md:text-lg cursor-pointer" (click)="openVideo('https://youtu.be/lktTnsWKj90')">👉🏻 🎥 👈🏻</span></h3>
                <div class="flex flex-row justify-between">
                  <span class="text-gray-500 text-md md:text-lg mr-8">⛳ Par 3 </span>
                  <span class="text-gray-500 text-md md:text-lg">📏 175/133 m </span>
                </div>
              </div>
              <p class="text-base md:text-lg text-gray-700 text-center">
                Salida con dificultad si pensamos en el agua que tenemos a la izquierda del hoyo. Estacas rojas por todo el arroyo que continúan por la izquierda de la calle hasta pasado el green.
                <br>
                <br>
                Green protegido a cada lado por 2 pequeños bunkers que entran mucho en juego. Caída hacia el fondo y a la izquierda. Salimos por la derecha y subimos la pequeña cuesta que nos lleva al hoyo 4 -13.
              </p>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="4" class="flex-1 flex items-center justify-center">
          <!-- Card Hoyo 4 -->
          <div class="bg-white rounded-xl p-6 md:p-12 flex flex-col lg:flex-row gap-4 md:gap-6 w-full h-full max-w-lg lg:max-w-4xl mx-auto">
            <div class="flex-1"><img src="/images/Hoyo_1_blanco.png" alt="Hoyo 1 Villarias" class="rounded-lg w-full h-full object-contain" /></div>
            <div class="flex flex-col items-center justify-between md:flex-1 md:justify-center">
              <div class="mb-10">
                <h3 class="text-2xl md:text-3xl font-semibold text-green-700 mb-2 text-center">Hoyo 4 <span class="text-gray-500 text-md md:text-lg cursor-pointer" (click)="openVideo('https://youtu.be/XSX8IG-_hnw')">👉🏻 🎥 👈🏻</span> </h3>
                <div class="flex flex-row justify-between">
                  <span class="text-gray-500 text-md md:text-lg mr-8">⛳ Par 5 </span>
                  <span class="text-gray-500 text-md md:text-lg">📏 467/414 m </span>
                </div>
              </div>
              <p class="text-base md:text-lg text-gray-700 text-center">
                Hoyo directo, la bandera se ve al fondo. De salida, a la izquierda la valla nos marca el fuera de límites; a la derecha rough con árboles, continuado con un arroyo que no vemos desde el tee con estacas rojas.
                <br>
                <br>
                Green largo, girando a la izquierda, plano, defendido por un bunker grande a la izquierda y uno más pequeño a la derecha.
                <br>
                <br>
                El tee del hoyo 5 - 14 está por detrás del green.
              </p>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="5" class="flex-1 flex items-center justify-center">
          <!-- Card Hoyo 5 -->
          <div class="bg-white rounded-xl p-6 md:p-12 flex flex-col lg:flex-row gap-4 md:gap-6 w-full h-full max-w-lg lg:max-w-4xl mx-auto">
            <div class="flex-1"><img src="/images/Hoyo_2_blanco.png" alt="Hoyo 2 Villarias" class="rounded-lg w-full h-full object-contain" /></div>
            <div class="flex flex-col items-center justify-between md:flex-1 md:justify-center">
              <div class="mb-10">
                <h3 class="text-2xl md:text-3xl font-semibold text-green-700 mb-2 text-center">Hoyo 5 <span class="text-gray-500 text-md md:text-lg cursor-pointer" (click)="openVideo('https://youtu.be/Zm-HDd97Obc')">👉🏻 🎥 👈🏻</span></h3>
                <div class="flex flex-row justify-between">
                  <span class="text-gray-500 text-md md:text-lg mr-8">⛳ Par 4 </span>
                  <span class="text-gray-500 text-md md:text-lg">📏 359/271 m </span>
                </div>
              </div>
              <p class="text-base md:text-lg text-gray-700 text-center">
                Salida por entre los árboles y buscando la parte derecha del bunker que se ve al fondo.
                <br>
                <br>
                De segundo golpe tiro complicado y un poco largo debido a la pendiente de la calle, además se estrecha. Cuando empieza la subida estacas rojas a la izquierda.
                <br>
                <br>
                Green con un piano muy pronunciado protegido por la izquierda por un bunker. Atención a la posición de bandera. Salimos hacia atrás por la izquierda del green hacia el tee 6 - 15.
              </p>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="6" class="flex-1 flex items-center justify-center">
          <!-- Card Hoyo 6 -->
          <div class="bg-white rounded-xl p-6 md:p-12 flex flex-col lg:flex-row gap-4 md:gap-6 w-full h-full max-w-lg lg:max-w-4xl mx-auto">
            <div class="flex-1"><img src="/images/Hoyo_3_blanco-1.png" alt="Hoyo 3 Villarias" class="rounded-lg w-full h-full object-contain" /></div>
            <div class="flex flex-col items-center justify-between md:flex-1 md:justify-center">
              <div class="mb-10">
                <h3 class="text-2xl md:text-3xl font-semibold text-green-700 mb-2 text-center">Hoyo 6 <span class="text-gray-500 text-md md:text-lg cursor-pointer" (click)="openVideo('https://youtu.be/3NJlQ8XPFE0')">👉🏻 🎥 👈🏻</span></h3>
                <div class="flex flex-row justify-between">
                  <span class="text-gray-500 text-md md:text-lg mr-8">⛳ Par 3 </span>
                  <span class="text-gray-500 text-md md:text-lg">📏 171/111 m </span>
                </div>
              </div>
              <p class="text-base md:text-lg text-gray-700 text-center">
                Hoyo 6. Salida larga y complicada, volar mucho la bola y apoyarse un poco a la izquierda.
                <br>
                <br>
                Hoyo 15. Salida corta, apoyarse a la izquierda.
                <br>
                <br>
                Green con pendiente hacia el fondo y a la derecha. Salimos por la izquierda hacia el tee 7 - 16.
              </p>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="7" class="flex-1 flex items-center justify-center">
          <!-- Card Hoyo 7 -->
          <div class="bg-white rounded-xl p-6 md:p-12 flex flex-col lg:flex-row gap-4 md:gap-6 w-full h-full max-w-lg lg:max-w-4xl mx-auto">
            <div class="flex-1"><img src="/images/Hoyo_4_blanco.png" alt="Hoyo 4 Villarias" class="rounded-lg w-full h-full object-contain" /></div>
            <div class="flex flex-col items-center justify-between md:flex-1 md:justify-center">
              <div class="mb-10">
                <h3 class="text-2xl md:text-3xl font-semibold text-green-700 mb-2 text-center">Hoyo 7 <span class="text-gray-500 text-md md:text-lg cursor-pointer" (click)="openVideo('https://youtu.be/VIv44MbsNHc')">👉🏻 🎥 👈🏻</span></h3>
                <div class="flex flex-row justify-between">
                  <span class="text-gray-500 text-md md:text-lg mr-8">⛳ Par 4 </span>
                  <span class="text-gray-500 text-md md:text-lg">📏 222/205 m </span>
                </div>
              </div>
              <p class="text-base md:text-lg text-gray-700 text-center">
                Hoyo corto. Salida por encima de los árboles con un hierro medio y buscando la parte derecha del bunker que se ve al fondo.
                <br>
                <br>
                Los pegadores (solo los pegadores) pueden llegar a green. Demasiado riesgo.
                <br>
                <br>
                Green con un piano muy pronunciado protegido por la derecha por un bunker. Atención a la posición de bandera. Salimos por la izquierda del green hacia el tee 8 - 17.
                <br>
                <br>
                Única subida del campo. Coge aire.
              </p>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="8" class="flex-1 flex items-center justify-center">
          <!-- Card Hoyo 8 -->
          <div class="bg-white rounded-xl p-6 md:p-12 flex flex-col lg:flex-row gap-4 md:gap-6 w-full h-full max-w-lg lg:max-w-4xl mx-auto">
            <div class="flex-1"><img src="/images/Hoyo_5_blanco.png" alt="Hoyo 5 Villarias" class="rounded-lg w-full h-full object-contain" /></div>
            <div class="flex flex-col items-center justify-between md:flex-1 md:justify-center">
              <div class="mb-10">
                <h3 class="text-2xl md:text-3xl font-semibold text-green-700 mb-2 text-center">Hoyo 8</h3>
                <div class="flex flex-row justify-between">
                  <span class="text-gray-500 text-md md:text-lg mr-8">⛳ Par 5 </span>
                  <span class="text-gray-500 text-md md:text-lg">📏 448/411 m </span>
                </div>
              </div>
              <p class="text-base md:text-lg text-gray-700 text-center">
                Salida de hierro y apoyándose a la izquierda. Jugar el Drive es muy complicado. Toda la derecha del hoyo son estacas rojas.
                <br>
                <br>
                2º golpe con pendiente hacia la derecha, hay que apoyarse mucho a la izquierda, procurar no llegar al bunker que tenemos de frente.
                <br>
                <br>
                3º golpe fácil para llegar a green. Mirar la ubicación de la bandera.
                <br>
                <br>
                Green con 2 plataformas y un gran piano a la izquierda y protegido con un bunker grande a la derecha. Volvemos un poco para atrás para coger el camino que baja al tee 9 - 16.
              </p>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="9" class="flex-1 flex items-center justify-center">
          <!-- Card Hoyo 9 -->
          <div class="bg-white rounded-xl p-6 md:p-12 flex flex-col lg:flex-row gap-4 md:gap-6 w-full h-full max-w-lg lg:max-w-4xl mx-auto">
            <div class="flex-1"><img src="/images/Hoyo_6_blanco.png" alt="Hoyo 6 Villarias" class="rounded-lg w-full h-full object-contain" /></div>
            <div class="flex flex-col items-center justify-between md:flex-1 md:justify-center">
              <div class="mb-10">
                <h3 class="text-2xl md:text-3xl font-semibold text-green-700 mb-2 text-center">Hoyo 9 <span class="text-gray-500 text-md md:text-lg cursor-pointer" (click)="openVideo('https://youtu.be/j5FW1ROmZF4')">👉🏻 🎥 👈🏻</span></h3>
                <div class="flex flex-row justify-between">
                  <span class="text-gray-500 text-md md:text-lg mr-8">⛳ Par 4 </span>
                  <span class="text-gray-500 text-md md:text-lg">📏 405/333 m </span>
                </div>
              </div>
              <p class="text-base md:text-lg text-gray-700 text-center">
                El hoyo más difícil. Hoyo 9. El tee esta muy adelantado. Primer golpe sin problemas. Green protegido por un bunker a la derecha.
                <br>
                <br>
                Hoyo 18. El tee está a la derecha de la cuesta que hemos bajado, en el alto entre los árboles.
                <br>
                <br>
                Salida muy larga, si se queda corta es preferible jugarlo como par 5 jugando el segundo golpe a dejarla antes del lago. Desde la regata de la derecha hasta pasado el green estacas rojas.
                <br>
                <br>
                2º golpe de los pegadores hay que darlo por encima de los árboles de la izquierda.
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
